aniso8601==9.0.0
attrs==20.3.0
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
pybind11==2.6.2
fasttext==0.9.2
Flask==1.1.2
flask-restx==0.2.0
gunicorn==20.0.4
idna==2.10
importlib-metadata==3.4.0
itsdangerous==1.1.0
Jinja2==2.11.3
jsonschema==3.2.0
MarkupSafe==1.1.1
numpy==1.19.5
pyrsistent==0.17.3
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
zipp==3.4.0


# pip install flask
# pip install flask_restx
# pip install gunicorn

# pip install pybind11
# pip install fasttext
# pip install pororo

# pip install bs4
# pip install requests